*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

.fl
{
    width:200px;
    height:40px;
    border-radius:15px;
    color:white;
    background-color:darkred;
    background-attachment: fixed;
}

.poker
{
    width:413px;
    height:290px;
    margin-left:auto;
    margin-right:auto;
    background-image:url(/public/img/poker.png);
    background-repeat:no-repeat;
    border-radius:15px;
}

body
{
    background: -moz-linear-gradient(top, red 0%, black 20%, white 100%);
    background: -ms-linear-gradient(top, red 0%, black 20%, white 100%);
    background: -o-linear-gradient(top, red 0%, black 20%, white 100%);
    background: -webkit-linear-gradient(top, red 0%, black 20%, white 100%);
    background-attachment: fixed;
}

nav
{
    background-color:rgba(255, 255, 255, 0.5);
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    border:2px darkred solid;
    border-radius:15px;
    text-align: center;
}

#main
{
    margin-top:20px;
    background-color:rgba(0, 0, 0, 0.5);
    border-radius:15px;
}

#cal
{
    color:silver;
    margin-bottom:15px;
}

#logo
{
    width:200px;
    height:190px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:15px;
    margin-top: 15px;
    background-image:url(/public/img/logo.png);
    background-repeat:no-repeat;
    border-radius:15px;
}

.wb
{
    position:relative;
    top:35px;
    left:30px;
}

#display
{
    width:980px;
    min-height:500px;
    margin-left:auto;
    margin-right:auto;
}

.me
{
    margin-right:5px;
}

.profil
{
    float:left;
}

.artc:hover
{
    -moz-animation:art 2s linear infinite;
}

@-moz-keyframes art
{
    0%
    {
        -moz-transform:rotate(0deg);
    }
    25%
    {
        -moz-transform:rotate(25deg);
    }
    50%
    {
        -moz-transform:rotate(0deg);
    }
    75%
    {
        -moz-transform:rotate(-25deg);
    }
    100%
    {
        -moz-transform:rotate(0deg);
    }
}

/*konami*/

.easter0
{
    visibility:hidden;
    -moz-transform:translate(0px, -2000px);
}

.easter
{
    visibility:visible;
    -moz-animation:info-anim 1s ease-in-out;
}

#egg
{
    /* position: relative;
    left:25%;*/
}

#easteregg
{
    position:relative;
    top:-550px;
    -moz-animation:info-anim 1s ease-in-out;
    margin-left:auto;
    margin-right:auto;
    width:720px;
    padding:10px;
    background-color:black;
    border-radius:10px;
    border:outset white 3px;
    box-shadow: 8px 8px 12px black;
}

@-moz-keyframes info-anim
{
    0%
    {
        -moz-transform:translate(0px, -2000px);
    }
    100%
    {
        -moz-transform:translate(0px, 400px);
    }
}