<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="hero-unit">
            Le pôle chauvin vous accueille tout au long de l'année et vous propose de prendre part à des activités culinaires aussi succulentes que variées ! Pour les grands gourmands assumés aussi bien que les curieux, nous proposons de vous préparer pour une somme modique des plats fabuleux et copieux.
        </div><br />
        <div class="hero-unit">
            Dans un autre registre, le pôle chauvin s'assure aussi de la tenue en bonne et due forme d'apéros priorement aux soirées de l'ESIEA. Comment oser passer à la boisson sans un bon bout de saucisson ?
            <br /><br />
            Cmal
        </div>
    </body>
</html>