<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="hero-unit">
            Composé d’étudiants de 2ème année et de 3ème année, le PFH Cuisine est chargé de nourrir les Esiearques affamés (ils le sont tout le temps) durant différents évènements, notamment pour les Journée Portes Ouvertes. En partenariat avec d'autres PFH  tels que celui de la Désintégration et Troph'ESIEA l'année passée, le PFH Cuisine n’en finit pas de vous régaler !
            <br /><br />Triskell
        </div>
    </body>
</html>