<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="hero-unit">
            Composé d’étudiants de 2ème et 3ème année, le PFH Court-métrage a pour mission de réaliser et diffuser un film court d’environ 15 minutes. Le concept de ce PFH repose essentiellement sur l'imagination, l'inspiration, l'investissement et la persévérance puisqu’il faut s’occuper de la recherche de sponsors et partenaire ( pour le prêt de matériel par exemple) mais aussi du scénario, du montage, de la promotion du film, etc. C’est une expérience très enrichissante à la fois intellectuellement et professionnellement.
            <br /><br />
            Quentin
        </div>
    </body>
</html>