<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/img/bda.ico" type="image/x-icon">
        <link href="/public/bootstrap/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/public/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="/public/css/style.css" media="screen" rel="stylesheet" type="text/css">
    </head>
        <body>
        <a id="0" class="menu" class="ex">
            {% csrf_token %}
            <div id="logo"></div>
        </a>
        <center><audio id="playlist" controls="true" loop="true" autoplay="true">
            <source src="/public/sound/paradise.ogv" type="audio/ogg">
            <source src="/public/sound/paradise.mp3" type="audio/mp3">
        </audio></center>
        <nav class="btn-toolbar">
            <div class="btn-group me">
                <a id="1" class="menu"><button class="btn btn-inverse "><i class="icon-picture icon-white"></i>&nbsp&nbsp BdA</button></a>
                <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a id="17"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp Pôle Chauvin</a></li>
                    <li><a id="2"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp Pôle Poker</a></li>
                    <li><a id="3"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp Pôle Jeux</a></li>
                    <li><a id="4"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp Pôle Magie</a></li>
                    <li><a id="5"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp Pôle Musique</a></li>
                    <li><a id="6"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp Pôle Théâtre</a></li>
                </ul>
            </div>
            <div class="btn-group me">
                <a id="7" class="menu"><button class="btn btn-inverse"><i class="icon-map-marker icon-white"></i>&nbsp&nbsp P.F.H</button></a>
                <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a id="8"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp PFH Court-métrage</a></li>
                    <li><a id="9"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp PFH Cuisine</a></li>
                    <li><a id="10"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp PFH Dessin</a></li>
                    <li><a id="11"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp PFH Gazette</a></li>
                    <li><a id="12"  class="menu"  href="#"><i class="icon-arrow-right"></i>&nbsp&nbsp PFH Jeux de Rôle</a></li>
                </ul>
            </div>
            <a id="13" class="menu me" href="#"><button class="btn btn-inverse"><i class="icon-camera icon-white"></i>&nbsp&nbsp Galerie</button></a>
            <a id="14" class="menu me" href="#"><button class="btn btn-inverse"><i class="icon-certificate icon-white"></i>&nbsp&nbsp Sponsor</button></a>
            <a id="15" class="menu me" href="#"><button class="btn btn-inverse"><i class="icon-user icon-white"></i>&nbsp&nbsp Contact</button></a>
            <a id="16" class="menu me" href="#"><button class="btn btn-inverse"><i class="icon-calendar icon-white"></i>&nbsp&nbsp Calendrier</button></a>
        </nav>
        <div id="display">
            {% for t in data %}
                <div id="a{{ t.id }}" class="span3 artc">
                    <div class="hero-unit">
                        <h2>{{ t.title }}</h2>
                        <p>
                            {{ t.date }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div><br /><br />
       <!-- <div class="pagination">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>-->
        <!-- gestion des modal-->
        <div id="article" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3>a voir</h3>
            </div>
            <div id="adisp" class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
        <script src="/public/js/jquery-2.0.3.min.js"></script>
        <script src="/public/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/js/bda.js"></script>
    </body>
</html>