<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title></title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../public/img/bda.ico" type="image/x-icon">
        <link href="../public/bootstrap/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
        <link href="../public/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="../public/css/style.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
            <a href="index.html" class="ex"><div id="logo"></div></a>
                        <nav class="btn-toolbar">
                            <div class="btn-group hidden-tablet hidden-phone">
                                <a id="1" class="menu" href="#"><button class="btn btn-inverse "><i class="icon-bookmark icon-white"></i>B.D.A</button></a>
                                <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="2"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Intérieur</a></li>
                                    <li><a id="3"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Jeux</a></li>
                                    <li><a id="4"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Magie</a></li>
                                    <li><a id="5"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Musique</a></li>
                                    <li><a id="6"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Théâtre</a></li>
                                </ul>
                            </div>
                            <div class="btn-group hidden-tablet hidden-phone">
                                <a id="7" class="menu" href="#"><button class="btn btn-inverse"><i class="icon-bookmark icon-white"></i>P.F.H</button></a>
                                <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="8"  class="menu"  href="#"><i class="icon-arrow-right"></i>PFH Court-métrage</a></li>
                                    <li><a id="9"  class="menu"  href="#"><i class="icon-arrow-right"></i>PFH Cuisine</a></li>
                                    <li><a id="10"  class="menu"  href="#"><i class="icon-arrow-right"></i>PFH Dessin</a></li>
                                    <li><a id="11"  class="menu"  href="#"><i class="icon-arrow-right"></i>PFH Gazette</a></li>
                                    <li><a id="12"  class="menu"  href="#"><i class="icon-arrow-right"></i>PFH Jeux de Rôle</a></li>
                                </ul>
                            </div>
                            <div class="btn-group hidden-tablet hidden-phone">
                                <a id="13" class="menu" href="#"><button class="btn btn-inverse"><i class="icon-bookmark icon-white"></i>Galerie</button></a>
                                <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a id="14"  class="menu"  href="#"><i class="icon-arrow-right"></i>test1</a></li>
                                    <li><a id="15"  class="menu"  href="#"><i class="icon-arrow-right"></i>titi</a></li>
                                    <li><a id="16"  class="menu"  href="#"><i class="icon-arrow-right"></i>toto</a></li>
                                </ul>
                            </div>
                                <a id="17" class="menu hidden-tablet hidden-phone" href="#"><button class="btn btn-inverse offset2"><i class="icon-bookmark icon-white"></i>Sponsor</button></a>
                                <a id="18" class="menu hidden-tablet hidden-phone" href="#"><button class="btn btn-inverse offset1"><i class="icon-bookmark icon-white"></i>Contact</button></a>
                                <button id="play" class="btn btn-success hidden-desktop"><i class="icon-play"></i> Play</button>
                                <button id="stop" class=" btn btn-danger hidden-desktop"><i class="icon-stop"></i> Stop</button>
                                <div class="btn-group">
                                            <a id="" class="menu" href="#"><button class="btn btn-inverse"><i class="icon-bookmark icon-white"></i>Menu</button></a>
                                            <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <li class="dropdown-submenu">
                                                <div class="btn-group">
                                                                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Action <span class="caret"></span></button>
                                                                <ul class="dropdown-menu">
                                                                  <li><a href="#">Action</a></li>
                                                                  <li><a href="#">Another action</a></li>
                                                                  <li><a href="#">Something else here</a></li>
                                                                  <li class="divider"></li>
                                                                  <li><a href="#">Separated link</a></li>
                                                                </ul>
                                                              </div>
                                            </li>
                                            <li class="dropdown-submenu">

                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-submenu pull-left">
                                                        <a id="1" class="menu" href="#">B.D.A</a>
                                                        <ul class="dropdown-menu">
                                                            <li><a id="2"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Intérieur</a></li>
                                                            <li><a id="3"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Jeux</a></li>
                                                            <li><a id="4"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Magie</a></li>
                                                            <li><a id="5"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Musique</a></li>
                                                            <li><a id="6"  class="menu"  href="#"><i class="icon-arrow-right"></i>Pôle Théâtre</a></li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                        </div>
                        </nav>

            <div class="row-fluid">
                <div id="display" class="span9">
                    <!--<div class="container">-->
                    <br />
                </div>
                <div class="span2">
                    <br />
                    <div class="container-fluid">
                        <div class="row-fluid">
                        <audio id="playlist" class="hidden-tablet hidden-phone" controls="true" loop="true">
                                                        <source src="../public/sound/paradise.ogv" type="audio/ogg">
                                                        <source src="../public/sound/paradise.mp3" type="audio/mp3">
                                                    </audio>
                            <div class="span2 ">
                                <a href="co.html" data-target="#myCo" role="button" class="label" data-toggle="modal"><i class="icon-user"></i>Connexion</a>
                            </div>
                            <div class="span2 offset5">
                                <a href="register.html" role="button" class="label" data-toggle="modal" data-target="#myReg"><i class="icon-book"></i>S'inscrire ?</a>
                            </div>
                        </div>

                    </div>
                    <div id="calendar"></div>
                    <div id="myCarousel" class="carousel slide">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <?php
                                for($i = 1; $i < 16; $i++)
                                {
                            ?>
                                    <li data-target="#myCarousel" data-slide-to="<?php echo $i; ?>"></li>
                            <?php
                                }
                            ?>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="active item"><img class="container" src="../public/img/carrou/0.png" /></div>
                            <?php
                                                            for($i = 1; $i < 16; $i++)
                                                            {
                                                        ?>
                                                                <div class="item"><img class="container" src="../public/img/carrou/<?php echo $i; ?>.png" /></div>
                                                        <?php
                                                            }
                                                        ?>

                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>
            </div>

                    <!-- gestion des modal-->
                    <div id="article" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                                                <h3>a voir</h3>
                                            </div>
                                            <div id="adisp" class="modal-body"></div>
                                            <div class="modal-footer">
                                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                            </div>
                                        </div>
                    <div id="myCo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                                                <h3>Connexion</h3>
                                            </div>
                                            <form action="../controller/controller.php?c=0" method="post" enctype="application/x-www-form-urlencoded">
                                                <div class="modal-body">
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                                    <button class="btn btn-primary">Connexion</button>
                                                </div>
                                            </form>
                                        </div>
                    <div id="myReg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                            <h3>Inscription</h3>
                        </div>
                        <form action="../controller/controller.php?c=1" method="post" enctype="application/x-www-form-urlencoded">
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            <button class="btn btn-primary">Envoyer</button>
                        </form>
                    </div>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="../public/bootstrap/js/bootstrap.min.js"></script>
        <script src="../public/js/bda.js"></script>
    </body>
</html>