<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="hero-unit">
            Pôle Musique, pôle musique, pôle musique...
            Vous l'aurez compris, il s'agit ici de musique.
            Ne vous inquiétez pas ! Que vous soyez musicien ou non, ce pôle est ouvert à tous !
        </div><br />
        <div class="hero-unit">
            L'activité principale de ce pôle : jouer, partager, et découvrir la musique de chacune et chacun !
            Mené par Cédric (alias XIII) et Andri (alias Didi), ce pôle sera ponctué par des activités où chacun pourra montrer au grand jour sa sensibilité musicale !
            <br /><br />
            Si intéressé(e), v'nez faire un p'tit tour :p
            <br />
            XIII et Didi
        </div><br />
    </body>
</html>