<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="hero-unit">
            Pôle Musique, pôle musique, pôle musique...
            Vous l'aurez compris, il s'agit ici de musique.
            Ne vous inquiétez pas ! Que vous soyez musicien ou non, ce pôle est ouvert à tous !
        </div><br />
        <div class="hero-unit">
            L'activité principale de ce pôle : jouer, partager, et découvrir la musique de chacune et chacun !
            Mené par Cédric (alias XIII) et Andri (alias Didi), ce pôle sera ponctué par des activités où chacun pourra montrer au grand jour sa sensibilité musicale !
            <br /><br />
            Si intéressé(e), v'nez faire un p'tit tour :p
            <br />
            XIII et Didi
        </div><br />
        <a data-target="#f" role="button" class="label" data-toggle="modal"><i class="icon-bookmark"></i>&nbsp&nbsp Suivre  &nbsp&nbsp</a>
        <div id="f" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3>Suivre le fil d'actualité</h3>
            </div>
            <div class="modal-body">
                <div id="finfo"></div>
                <form id="followme" enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="who" value="">
                    <label class="control-label" for="ps1">Email</label><input id="ps1" name="email" type="email" placeholder="zozor@gmail.com" required="true" />
                    <label class="control-label" for="ps2">Nom</label><input id="ps2" name="name" type="text" placeholder="toto" required="true" /><br />
                    <label class="control-label" for="ps2">Prénom</label><input id="ps2" name="firstname" type="text" placeholder="zozor" required="true" /><br />
                    <input type="submit" value="Suivre" class="fl"/><br />
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </body>
</html>