<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="poker"></div>
        <div class="hero-unit">
            Cher Esiearque, cette année le pôle poker est de retour parmi vous, et pour pleins d'activités.
            Nous serons présents au minimum une fois par semestre et vous nous trouverez sûr différents événements de l'école.
            Une table sera ouverte lors des LAN (organisé par KPS) avec des lots à gagner si possible (Place ou boisson offerte lors d'une soirée de l'école par exemple) ! Mais il y aura aussi des soirées indépendantes :)
            Mais tout le monde ne connait pas le poker, c'est pour cela qu'il y aura, pour ceux qui veulent apprendre, une table d'apprentissage ou seront expliqué les règles, les différentes combinaisons etc..
            <br /><br />
            Bon bluff à tous et à très bientot !<br />
            Benoit
        </div>
    </body>
</html>