<label class="control-label" for="pseudo">Email</label><input id="pseudo" name="pseudo" type="email" placeholder="zozor@gmail.com" required="true" />
<label class="control-label" for="pwd">Mot de passe</label><input id="pwd" name="pwd" type="password" required="true" />
<label class="control-label" for="name">Nom</label><input id="name" name="name" type="text" placeholder="Dupont" required="true" />
<label class="control-label" for="fname">Prénom</label><input id="fname" name="fname" type="text" placeholder="Jean" required="true" />
<label class="control-label" for="school">Ecole</label>
<select id="school" name="school" required="true">
    <option value="esiea">ESIEA</option>
    <option value="intech">IN'TECH INFO</option>
</select>

