{% load i18n staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% trans 'Todo list' %}</title>
        <link rel="stylesheet" href="/public/css/task.css">
    </head>
    <body>
        <section id="todoapp">
            <header id="header">
                <h1>{% trans 'Todos' %}</h1>
                <input id="new-todo" placeholder="{% trans 'What needs to be done?' %}" autofocus>
            </header>

            <section id="main">
                <input id="toggle-all" type="checkbox" >
                <label for="toggle-all">{% trans 'Mark all as complete' %}</label>
                <ul id="todo-list">
                    {% for task in object_list %}
                        <li>
                            <div class="view">
                                <input class="toggle" type="checkbox">
                                <label>{{ task.content }}</label>
                                <button class="destroy"></button>
                            </div>
                            <input class="edit" value="{{ task.content }}">
                        </li>
                    {% endfor %}
                </ul>
            </section>
            <footer id="footer">
                <span id="todo-count"></span>
                <button id="clear-completed">{% trans 'Clear completed' %}</button>
            </footer>
        </section>
        <footer id="info">
            <p>{% trans 'Double-click to edit a todo.' %}</p>
        </footer>
    </body>
</html>